.h1{
    margin: 15px 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}
.caja{
    width: 270px;
    height: 405px;
    border-radius: 10px;
    background-color: rgb(15, 20, 49);
    margin-bottom: 48px;
    transition: .1s linear;
}
.caja:hover{
    transform: translatey(-20px);
}
.blogcontainer{
    margin-top: 60px;
    width: 73vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.relleno{
    height: 100%;
    width: 100%;
}
.arriba{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.abajo{
    width: 100%;
    height: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.centrado{
    width: 250px;
    height: 170px;
}
.descripcion{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(196, 196, 196);
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
}
.href{
    text-decoration: none;
}
.texto{
    color: rgb(196, 196, 196);;
    margin: 0 15px 0 15px;
    text-align: center;
    letter-spacing: .6px;
}
@media (max-width:738px){
    .blogcontainer{
        justify-content:center;
    }
}
@media (max-width:280px){
    .blogcontainer{
        width: 90vw;
    }
}