.h1{
    margin: 15px 20px;
    text-align: center;
    text-transform: uppercase;
}
.caja{
    width: 270px;
    height: 380px;
    border-radius: 10px;
    background-color: rgb(125, 125, 241);
    margin-bottom: 48px;
    transition: .1s linear;
}
.caja:hover{
    transform: translatey(-20px);
}
.blogcontainer{
    margin-top: 60px;
    width: 73vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.relleno{
    height: 100%;
    width: 100%;
}
.arriba{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid;
}
.abajo{
    width: 100%;
    height: 50%;
}
.imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.centrado{
    width: 90%;
    height: 90%;
}
.descripcion{
    color: black;
}
@media (max-width:738px){
    .blogcontainer{
        justify-content:center;
    }
}
@media (max-width:280px){
    .blogcontainer{
        width: 90vw;
    }
}