.contenido{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    right: 0px;
    flex-direction: column;
}
.p{
    text-transform: capitalize;
    letter-spacing: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    text-decoration: none;
    font-size: medium;
    color: rgb(30, 32, 32);
    border-radius: 20px;
    padding: 1px 20px 1px 20px;
    user-select: none;
}
.contenedorpaginanoencontrada,.contenedormejoresproyectos,.contenedorcontacto ,.contenedorblog{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.linkpaginanoencontrada{
    z-index: 10;
}