.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    width: 100vw;
}
.sobremicontenido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33vw;
    margin-top: 55px;
}
.testimonios{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.testimonio{
    height: 213px;
    width: 227px;
    background-color: pink;
    margin: 10px;
}
.fotosobremi{
    display: none;
    width: 67vw;
    height: 376px;
    border-radius: 10%;
    background: transparent url("https://upload.wikimedia.org/wikipedia/commons/2/2c/Rotating_earth_%28large%29.gif") no-repeat center;
}
.foto{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.p{
    text-transform: math-auto;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: medium;
    color: rgb(0, 0, 0);
    user-select: none;
    text-align: center;
}
.psincapitalize{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-size: large;
    color: rgb(196, 196, 196);
    transition: all 300ms;
    user-select: none;
}
.psincapitalize:hover{
    color: rgb(2, 0, 138);
}
.contenedorpaginanoencontrada,.contenedormejoresproyectos,.contenedorcontacto{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contenedorblog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.elementosproyectos{
   width: 130px;
   height: 130px;
   border-radius: 20px;
   transition: .1s linear;
   opacity: 80%;
   margin: 15px;
}
.elementosproyectos:hover{
   box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
   opacity: 100%;
   transform: rotate(9deg);
} 
.proyectosimagen{
   width: 100%;
   height: 100%; 
   opacity: 90%;
   border-radius: 20px;
   object-fit: cover;
}
.linkpaginanoencontrada{
    z-index: 10;
}
.divproyectos{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 36vw;
}
@media (max-width: 1087px) {
    .elementosproyectos{
        width: 100px;
        height: 100px;
    }
}
@media (max-width: 982px) {
    .divproyectos{
        width: 20vw;
    }
    .elementosproyectos{
        width: 100px;
        height: 100px;
    }
}
@media (max-width: 912px) {
    .sobremicontenido{
        width: 90vw;
    }
    .fotosobremi{
        display: block;
    }
    .divproyectos{
        width: 82vw;
    }
}

@media (max-width: 600px) {
    .psincapitalize{
        letter-spacing: 0;
        font-size: smaller;
    }
}

