html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
  margin: 0;
  height: 100vh;
}
.efectoescritura {
  color: #000;
  font-family: monospace;
  font-size: x-large;
  text-transform: uppercase;
  user-select: none;
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 21ch;
  
  animation: typing 3s steps(21), blink .5s infinite step-end alternate;
  overflow: hidden;
}
.efectoescrituraabajo{
  color: #000;
  font-family: monospace;
  font-size: x-large;
  text-transform: uppercase;
  user-select: none;
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 33ch;
  visibility: hidden;
  margin-bottom: 23px;

  animation: typing 3s steps(33),blink .5s infinite step-end alternate ,aparecer 0.1s infinite;
  overflow: hidden;
  animation-delay: 3.5s;
}
.section{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionsobremi{
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes typing{
  from { width: 0; }
}
@keyframes blink{
  50%{ border-color: transparent; }
}
@keyframes aparecer {
  from { visibility: visible; }
}
@keyframes desaparecer {
  from {  border-right: none;}
}
@media (max-width: 892px){
  .navbar{
    justify-content: flex-end;
    text-align: center;
  }
  .navbar > .parrafo:nth-child(1n+2),.navbar > button {
    display: none;
  }
}

@media (max-width: 912px) {
  .efectoescrituraabajo{
    font-size: large;
  }
  .efectoescritura{
    font-size: large;
  }
}